.contenedor{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: 1;
}

/*404*/
.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/*login*/
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #030399, #0a03cd, #cbcbcb);
}

.form-login {
    box-sizing: border-box;
    width: 350px;
    margin: 0  20px;
    max-height: 630px;
    padding: 20px;
    background-color: #555d;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000a;
    z-index: 10;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header img{
    width: 50%;
    margin-bottom: 15px;
    border-radius: 60px;
}

.form-header h1{
    color: #eee;
}

.cont-input{
    width: 100%;
    margin: 25px 0;
    position: relative;
}

.cont-input label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #eee;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.cont-input input, .cont-input select{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px 0 5px 15px;
    color: #eee;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.cont-input i{
    position: absolute;
    color: #eee;
    font-size: 1.5rem;
    top: 19px;
    right: 8px;
    cursor: pointer;
}

.captcha{
    display: flex;
    justify-content: center;
}

.boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boton > button{
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: #eee;
    background-color: #0a03cd;
    cursor: pointer;
    transition: all 2s;
}

.boton > button:hover{
    color: #0a03cd;
    background-color: #eee;
}

.boton > a{
    text-decoration: none;
    color: #a3a0a0;
    margin-top: 10px;
}

.boton > a:hover{
    color: #000000;
}

.return-login {
    width: 100%;
    line-height: 2;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    color: #eee;
}


/*inicio*/
.contenedor-header{
    background-color: #0a03cd;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 25px 2px #000a;
}

.header-tittle{
    background-color: #030399;
    color: #eee;
    height: 50px;
    width: 15rem;
    display: none;
    align-items: center;
    justify-content: center;
}

.header-opcion {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: #eee;
}


.list {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 30px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: #eee;
}

.list:hover{
    color: #0a03cd;
    background-color: #eee;
}

.perfil-menu{
    padding: 10px;
    border-radius: 0;
    width: 250px;
}

.btn.show{
    color: #0a03cd;
    background-color: #eee;
}

.option-pass{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 3px solid #ccc;
    text-align: start;
    line-height: 2;
    color: #222;
    background-color: transparent;
}

.option-pass:hover{
    border-bottom: 3px solid #888;
}

.modal{
    overflow: hidden;
}

.menu-cont{
    margin: 0;
    width: 100%;
    height: 100vh;
}

.cont-menu{
    background-color: #0a03cd;
    margin: 0;
    max-width: 30rem;
    height: 100vh;
    padding: 20px 0 10px 0;
    z-index: 30;
    border-radius: 0;
}

.nav_menu-content {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 0 0 20px;
    transition: all 1s;
    text-decoration: none;
    padding-left: 0;
}

.nav_menu-item{
    margin: 10px 0;
    border-left: 10px solid #eee;
    padding-left: 20px;
    transition: all 1s;
}

.nav_menu-item:hover{
    background-color: #eee;
}

.nav_menu-item a{
    color: #eee;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.nav_menu-item a:hover{
    color: #0a03cd;
}

.win-modal{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 90vh;
    overflow: auto;
    top: 50px;
    background-color: transparent;
    line-height: 40px;
    align-items: end;
    flex-direction: column;
}

.win-cont{
    background-color: #eee;
    padding: 10px 10px 0;
    flex-direction: column;
    max-width: 250px;
    max-height: 500px;
}

.win-cont{
    background-color: #eee;
    padding: 10px 10px 0;
    flex-direction: column;
    max-width: 250px;
    max-height: 500px;
}

h3{
    color: #555;
    text-align: center;
}

.win-cont input{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 3px solid #ccc;
    cursor: pointer;
    text-align: start;
}

.win-cont input:hover{
    border-bottom: 3px solid #888;
}

.modal-dialog{
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
}

.modal-regit{
    margin: 0 auto;
}

.modal-content{
    border-radius: 0;
}

.modal-header{
    background-color: #aaa;
    border-radius: 0;
}

.form .cont-input label{
    color: #222;
    font-size: 1.2rem;
    top: 0;
}

.form .cont-input input, .form .cont-input select{ 
    color: #222;
    border-bottom: 2px solid #222;
    text-transform: uppercase;
}

.form .cont-input i{
    color: #222;
}

.form .cont-input p{
    text-align: center;
}

.botones{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.botones > button{
    width: 120px;
    margin: 0 10px;
}

.cerrar{
    width: 120px;
}

h2, h5{
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.seg_header{
    height: 55px;
    width: 100%;
    background-color: #9e9e9e;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 25px -2px #000a;
}

.seg_header #boton_add{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#boton_add div:first-child{
    width: 100%;
    display: flex;
}

#boton_add div:last-child{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.seg_header h2{
    display: inline;
    margin: 0 20px 0 10px;
} 

.seg_header button{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.seg_header button i{
    font-size: 15px;
    cursor: pointer;
}

.contenedor_main{
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
}

.contenido{
    background-color: #dddada;
    width: 100%;
    height: 95%;
    padding: 15px;
    box-shadow: 0 0 10px .5px #000a;
}

.overflow{
    overflow-x: auto;
    height: 100%;
}

.contenedor_footer{
    width: 100vw;
    height: 40px;
    background-color: #555;
    box-shadow: 0 -3px 25px -2px #000a;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.add{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.add i{
    font-size: 15px;
    cursor: pointer;
} 

.busqueda{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.busqueda{
    border: 2px solid #222;
    background-color: #eee;
    width: 60%;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.cerrarSearch{
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.busqueda span{
    font-size: 24px;
    color: #222;
    border-radius: 0 5px 5px 0;
    appearance: inherit;
    border: none;
}
.cerrarBuscar{
    width: 100%;
    border: none;
    background: transparent;
}

.cerrarSearch:hover{
    background-color: #aaa;
}

.contenido{
    background-color: #dddada;
    width: 100%;
    height: 95%;
    padding: 15px;
    box-shadow: 0 0 10px .5px #000a;
}

.container_table{
    width: 900px;
    margin-bottom: 15px;
    border-spacing: 0;
}

.table_header{
    background-color: #9e9e9e;
    text-align: center;
    position: sticky;
    top: 0;
}

tr{
    width: 100%;
}

.table_header th,
.table_body  td{
    border: none;
    padding: 5px;
}

.table_body  tr{
    padding: 10px 0;
}

.table_body  td:first-child,
.table_body  td:last-child{
    text-align: center;
}

.optiones{
    margin: 0 2px;
    border-radius: 5px; 
    padding: 5px 10px;
    cursor: pointer;
    color: #ccc; 
}

.update{
    background: #1b1bc5;
}

.update:hover{
    box-shadow: 0 0 10px 2px #4095fd;
    background: #1b1bc5;
    color: #ccc; 
}

.delete{
    background: #c02424;
}

.delete:hover{
    box-shadow: 0 0 10px 2px#f92e2e;
    background: #c02424;
    color: #ccc; 
}

.into{
    background: #16811e;
}

.into:hover{
    box-shadow: 0 0 10px 2px#1bc327;
    background: #16811e;
    color: #ccc; 
}

.ver{
    background: #fdc407;
    color: #222;
}

.ver:hover{
    box-shadow: 0 0 10px 2px#d78d06;
    background: #fdc407;
    color: #222;
}

.option > a {
    text-decoration: none;
}

.cerrar > .delete{
    width: 120px;
}